<footer class="footer py-4 bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start"> </div>
            <div class="col-lg-4 my-3 my-lg-0">  
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/rosa-lpz/" aria-label="GitHub"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/rosalilopezen/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">Copyright &copy; Rosa Lopez 2025</div>
        </div>
    </div>
</footer>