{% extends 'blog/base.html' %}

{% block content %}

<!--Breadcrumbs-->
<nav>
    <a href="{% url 'blog:category_page' post.topic.category.id %}">{{ post.topic.category.name }}</a> &gt;
    <a href="{% url 'blog:topic_page' post.topic.id %}">{{ post.topic.name }}</a>
</nav>





<div class="text center">
    <h1>{{post.title}}</h21>
    <h3 class="my-2 h5 text-muted">{{post.date_added|date:'F jS Y'}}</h3>


    <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid" >

    <div class="my-4">
        <p>{{post.text|safe}}</p>
    </div>

    </br>
    <a href="{% url 'blog:edit_post' post.id %}">Edit Post</a>

</div>





{% endblock %}